<ion-view view-title="前端关注-今天">
  <ion-content class="padding">
  <h3 class="articleTitle" ng-bind = "articleTitle"></h3>
  <div class="row articleInfo">
    <div class="author col col-50">作者:&nbsp&nbsp<a href="{{authorLink}}" ng-bind="articleAuthor"></a></div>
    <div class="tag col">标签:&nbsp&nbsp<span ng-bind="articleTag"></span></div>
  </div>
  <div class="content" ng-bind="articleContent"></div>
    <!-- <div class="list card">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
