/* Empty. Add your own CSS if you like */
.bar-header{
	background-color: rgb(132,183,6) !important;
}
.articleTitle{
	padding-top: 5px;
	padding-bottom: 5px;
	// border-bottom: 1px solid #ddd;
	margin-bottom: 0px;
}
.articleInfo{
	padding-top: 0;
}
.content{
	white-space: pre;
	// font-size: 32px;
}
.row{
	padding-left: 0px;
}
.col{
	padding-left: 0px;
}